<section class="our-advantages">
	<div class="our-advantages__list wrapper">
		<div class="our-advantages__item">
			<img src="/assets/images/dist/infographic/delivery.svg" alt="#" class="our-advantages__image"/>
			<p class="our-advantages__title">Free Delivery</p>
			<div class="our-advantages__caption">Worldwide delivery on all. Authorit tively morph next-generation innov tion
				with extensive models.
			</div>
		</div>
		<div class="our-advantages__item">
			<img src="/assets/images/dist/infographic/interest.svg" alt="#" class="our-advantages__image"/>
			<p class="our-advantages__title">Sales & discounts</p>
			<div class="our-advantages__caption">Worldwide delivery on all. Authorit tively morph next-generation innov tion
				with extensive models.
			</div>
		</div>
		<div class="our-advantages__item">
			<img src="/assets/images/dist/infographic/crown.svg" alt="#" class="our-advantages__image"/>
			<p class="our-advantages__title">Quality assurance</p>
			<div class="our-advantages__caption">Worldwide delivery on all. Authorit tively morph next-generation innov tion
				with extensive models.
			</div>
		</div>
	</div>
</section>