<div class="catalog__item">
	<p class="catalog__cart"><img src="https://via.placeholder.com/360x420" alt="#" class="catalog__image"/>
		<span class="add-to-cart">
            <a href="#" class="add-to-cart__button">Add to Cart</a>
         </span>
	</p>
	<div class="catalog__caption">
		<a href="?c=product&a=Card&id={{ product.id }}" class="catalog__title">{{ product.name }}</a>
		<p class="catalog__description">{{ product.description }}</p>
		<p class="catalog__price recolored">{{ product.price }}</p>
	</div>
</div>