<section class="subscribe pad-centerier">
	<div class="subscribe__hello subscribe__item">
		<img src="/assets/images/dist/face.png" alt="#" class="subscribe__image">
		<p class="subscribe__caption">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus
			condimentum“</p>
	</div>
	<div class="subscribe__item subscribe__form">
		<form method="POST">
			<h3 class="subscribe__title">SUBSCRIBE</h3>
			<p class="subscribe__caption subscribe__caption--form">FOR OUR NEWLETTER AND PROMOTION</p>
			<fieldset class="subscribe__fieldset">
				<!-- Проверяем по RFC 5322  (?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])-->
				<input type="email" placeholder="Enter Your Email" required>
				<input type="submit" value="Subscribe"></fieldset>
		</form>
	</div>
</section>