<footer class="footer pad-centerier">
	<div class="copiryght">&copy; 2021 Brand All Rights Reserved.</div>
	<div class="footer__socials">
		<a href="#" class="footer__icon"><img src="/assets/images/dist/icons/facebook-ico.svg" alt="#"><img
					src="/assets/images/dist/icons/facebook-ico-white.svg" alt="#"></a>
		<a href="#" class="footer__icon"><img src="/assets/images/dist/icons/twitter-ico.svg" alt="#"><img
					src="/assets/images/dist/icons/twitter-ico-white.svg" alt="#"></a>
		<a href="#" class="footer__icon"><img src="/assets/images/dist/icons/pinterest-ico.svg" alt="#"><img
					src="/assets/images/dist/icons/pinterest-ico-white.svg" alt="#"></a>
		<a href="#" class="footer__icon"><img src="/assets/images/dist/icons/instagram-ico.svg" alt="#"><img
					src="/assets/images/dist/icons/instagram-ico-white.svg" alt="#"></a>
	</div>
</footer>