<header class="header">
	<div class="wrapper">
		<div class="header__left">
			<a href="/" class="interaction interaction-to-right search"><img src="/assets/images/dist/icons/logo.svg"
			                                                                 alt="Site-search"/></a>
			<a href="#" class="interaction interaction-to-right account"><img
						src="/assets/images/dist/icons/search-leanse.svg" alt="Account"/></a>
		</div>
		<div class="header__right">
			<label for="main-menu-trigger" class="interaction interaction-to-left menu-trigger"><img
						src="/assets/images/dist/icons/menu-hamburger.svg" alt="menu-trigger"/></label>
			<a href="/registration.html" class="interaction interaction-to-left logo"><img
						src="/assets/images/dist/icons/login-ico.svg" alt="Login"/></a>
			<a href="/cart.html" class="interaction interaction-to-left mini-cart">
				<img src="/assets/images/dist/icons/shop-cart-ico.svg" alt="mini-cart"/>
				<span class="mini-cart__goods-count">0</span>
			</a>
		</div>
	</div>
</header>